@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #101423;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.red-shadow {
  box-shadow: -6px 6px 0px 0px #89515A;
}




/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #89515a;
  border: 3px solid black;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b06874;
}