@font-face {
  font-family: dance;
  src: url(../../attachments/fonts/DancingScript-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: OpenSans;
  src: url(../../attachments/fonts/OpenSans-Regular.ttf);
  font-weight: 400;
}