@use 'variables';

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin container-properties {
  width: 100%;
  max-width: variables.$container-s;
  margin: 0 auto;
}

@mixin for-mediumScreen {
  @media (min-width: 481px) {
    @content;
  }
}

@mixin for-largeScreen {
  @media (min-width: 769px) {
    @content;
  }
}

// @mixin bg-image($img) {
//   background-image: url('../../attachments/images/#{$img}');
//   background-size: 100%;
//   background-position: center;
//   background-repeat: no-repeat;
//   filter: grayscale(100%);

//   &:hover {
//     background-size: 110%;
//     filter: grayscale(0);
//   }
// }

