// Cores
$cor0: #03001C;
$cor1: #1e1340;
$cor2: #5B8FB9;
$cor3: #B6EADA;
$white: #eee;

// Font Sizes
$font-vs: 1.4rem;
$font-s: 1.8rem;
$font-m: 4.5rem;
$font-l: 5rem;


// Containers
$container-s: 540px;
$container-m: 720px;
$container-l: 1140px;